/* Some barebones styles copied from my personal website (natan.la) */

html {
  font-size: 1em;
  min-height: 100%;
  box-sizing: border-box;
  padding: 1em;
}

@media only screen and (max-width: 560px) {
  html {
    padding: 0;
  }
  body {
    line-height: 1.5em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.25em;
  max-width: 560px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

